<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261478912153-jdksnah0c2kc4pg1r2q7hqjsi09ck75k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261478912153-jdksnah0c2kc4pg1r2q7hqjsi09ck75k</string>
	<key>API_KEY</key>
	<string>AIzaSyB6G4DZK2O9gompOrj1h7ZwGKZ6DShAYLg</string>
	<key>GCM_SENDER_ID</key>
	<string>261478912153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokWithoutCringe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-66b91</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-66b91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261478912153:ios:38992658085dd63f9b6808</string>
</dict>
</plist>